@model EdgeOfTheEmpire.ViewModels.CharacterViewModel;

<div class="container">
    <h1>@Model.Character.Name</h1>
    <p>@Model.Character.Race</p>
    <div class="col-md-2">Brawn</div>
    <div class="col-md-2">Agility</div>
    <div class="col-md-2">Intelligence</div>
    <div class="col-md-2">Cunning</div>
    <div class="col-md-2">Willpower</div>
    <div class="col-md-2">Presence</div>

    <div class="col-md-2">@Model.Character.Brawn</div>
    <div class="col-md-2">@Model.Character.Agility</div>
    <div class="col-md-2">@Model.Character.Intelligence</div>
    <div class="col-md-2">@Model.Character.Cunning</div>
    <div class="col-md-2">@Model.Character.Willpower</div>
    <div class="col-md-2">@Model.Character.Presence</div>
</div>